.navbar {
  height: 5.6rem;
  width: 100%;
  background: var(--background);
  border-bottom: 1px solid var(--snow);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.navbar__content {
  height: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__app-info {
  display: flex;
  align-items: center;
}

.navbar__logo {
  height: 4rem;
  width: 4rem;
  object-fit: contain;
}

.navbar__app-name {
  font-weight: 900;
  font-size: 2rem;
  color: var(--accent);
  margin-left: 1.6rem;
}

.navbar__links {
  display: flex;
  align-items: center;
  position: relative;
}

.navbar__links-container {
  display: flex;
  align-items: center;
}

.navbar__menu-icon {
  display: none;
  cursor: pointer;
  height: 5.6rem;
  padding-left: 1.6rem;
}

.navbar__link {
  margin: 0 0.8rem;
  text-decoration: none;
  outline: none;
  color: var(--primary);
  transition: color 0.2s ease-in-out, text-decoration 0.2s ease-in-out;
}

.navbar__link:hover,
.navbar__link:focus {
  color: var(--accent);
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .navbar__menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar__links-container {
    min-width: 25rem;
    display: none;
    position: absolute;
    right: 0;
    top: 90%;
    background: var(--background);
    border-radius: 1rem;
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.1);
  }

  .navbar__menu-icon:hover ~ .navbar__links-container,
  .navbar__links-container:hover {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .navbar__link {
    padding: 1.2rem 1.6rem;
    margin: 0;
    transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  }

  .navbar__link:first-child {
    border-radius: 1rem 1rem 0 0;
  }

  .navbar__link:last-child {
    border-radius: 0 0 1rem 1rem;
  }

  .navbar__link:hover {
    background: var(--accent);
    color: white;
    text-decoration: none;
  }
}
